:root {
    --back: rgb(137, 155, 237);
}

body {
    background-color: var(--back);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

nav:hover {
    background-color: blue;
}